body {
    font-size: 16px;
    color: white;
    background-color: #61122f;
}

/* Navbar styles */
#header-nav {
    background-color: yellow;
    border-radius: 0%;
    border: none;
    width: auto;
}
#logo {
    background: url('../images/restaurant-logo_large.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 10px 10px 0px;
}
.navbar-brand h1{
    padding: 0;
    color: green;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-brand a:hover{
    text-decoration: none;
}
.navbar-brand p {
    padding: 0;
    color: black;
    font-size: 0.7em;
    text-transform: uppercase;
}
.navbar-brand p span {
    vertical-align: middle;
}
.navbar-brand img {
    padding: 0;
    font-size: 0.7em;
}
#nav-list {
    padding: 0;
    margin-top: 20px;
}
#nav-list a {
    color: maroon;
    font-weight: bold;
    text-align: center;
}
#nav-list a span {
    font-size: 1.5em;
}
#nav-list li {
    margin-right: 15px;
}
#phone {
    margin-top: 5px;
}
#phone a {
    text-align: right;
    font-size: 1em;
    padding-bottom: 0px;
}
#phone div {
    color: brown    ;
    padding-right: 15px;
    font-size: 0.8em;
    text-align: right;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid maroon;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
/***************Large Screen Styles ***************/
@media (min-width: 1200px) {
    #header-nav {
        background-color: yellow;
    }
    #logo {
        width: 150px;
        height: 150px;
    }
    .navbar-brand h1 {
        font-size: 2.5em;
    }
    .navbar-brand p {
        font-size: 0.8em;
    }
    #nav-list a {
        font-size: 1.2em;
    }
    #phone a {
        font-size: 1.2em;
    }
}
/***************Medium Screen Styles ***************/
@media (min-width: 992px) and (max-width: 1199px) {
    #logo {
        background: url('../images/restaurant-logo_medium.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0px;
    }
}
/***************Small Screen Styles ***************/
@media (max-width: 767px) {
    #navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    #navbar-brand h1 {
        padding-top: 10px;
        font-size: 5vw;
    }
    #navbar-brand p {
        font-size: 3vw;
        margin-top: 12px
    }
    #navbar-brand p img {
        height: 20px;
    }
    
}